<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jquery UI Table</title><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<script src="__PUBLIC__/static/jexcel-master/dist/js/jquery.jcalendar.js"></script>
<script src="__PUBLIC__/static/jexcel-master/dist/js/jquery.jdropdown.js"></script>
<script src="__PUBLIC__/static/jexcel-master/dist/js/jquery.jexcel.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/jexcel-master/dist/css/jquery.jexcel.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/jexcel-master/dist/css/jquery.jcalendar.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/jexcel-master/dist/css/jquery.jdropdown.css" />
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
	<style type="text/css">
	</style>
	<script type="text/javascript">
	var tabledata ={$result}
	</script>
</head>
<body>
	<div id="my"></div>

<script>
data = {$result};

$('#my').jexcel({ 
	//editable:false,
	//columnSorting:false,
    data:data,
    colHeaders: ['日期','项目名称', '总科目', '明细科目','账户','收入','支出','备注'],
    colWidths: [ 100, 300, 100, 100,80,80,80,300],
    columns: [
        //{ type: 'dropdown', source:['Seat', 'Renault', 'Peugeot'] },
       // { type: 'dropdown', source:[{'id':1,'name':'Yellow'}] },
        {type: 'calendar', options: { format:'YYYY/MM/DD' }},
        {type:'text'},
        {type:'text'},
        {type:'text'},
        {type:'text'},
        {type:"numeric"},
        {type:"numeric"},
        {type:"text"}
    ]
});
</script>
</body>
</html>